.DS_Store
cdk.out/*
node_modules/*

lib/*.js
lib/constructs/*.js

frontend/.angular/

frontend/browserslist
frontend/e2e/

frontend/tsconfig.app.json
frontend/tsconfig.json
frontend/tsconfig.spec.json
frontend/tslint.json
