.DS_Store
cdk.out/*
components/infrastructure/node_modules/*

components/infrastructure/lib/*.js
components/infrastructure/lib/constructs/*.js

components/frontend/.angular/

components/frontend/browserslist
components/frontend/e2e/
