<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>npa02012</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                </ul>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<div class="jumbotron feature">
		<div class="container">
			<h2>Sample Website Deployed With AWS-CDK</h2>
			<p>A static website for company information.</p>
            <p>The <b>portal</b> is a secure and dynamic application for customers to manager their accounts.</p>
			<p><a class="btn btn-primary btn-lg" href="https://www.portal.npa02012.com" target="_blank">Customer Portal Login</a></p>
		</div>
	</div>

    <!-- Content -->
    <div class="container">

        <!-- Page Intro -->
        <div class="row page-intro">
            <div class="col-lg-12">
                <h1>Everything as Code
                    <small>Standardized. Reproducible. Transparent.</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Feature Row -->
        <div class="row">
            <article class="col-md-6 article-intro">
                <a href="https://github.com/npa02012/npa02012-website" target="_blank">
                    <img class="img-responsive img-thumbnail" src="./images/git-branch-icon.png" alt="">
                </a>
                <h3>
                    <a href="https://github.com/npa02012/npa02012-website" target="_blank">GitHub</a>
                </h3>
                <p>
                    Code which defines and deploys this website
                </p>
            </article>
            <article class="col-md-6 article-intro">
                <a href="https://www.linkedin.com/in/nicolas-alvarez-9a2061112/" target="_blank">
                    <img class="img-responsive img-rounded img-thumbnail" src="./images/linkedin-icon.png" alt="">
                </a>
                <h3>
                    <a href="https://www.linkedin.com/in/nicolas-alvarez-9a2061112/" target="_blank">LinkedIn</a>
                </h3>
                <p>My personal LinkedIn</p>
            </article>
        </div>
        <!-- /.row -->

    </div>

	
    <!-- jQuery -->
    <script src="js/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="js/ie10-viewport-bug-workaround.js"></script>
	
	<!-- Placeholder Images -->
	<script src="js/holder.min.js"></script>
	
</body>

</html>
